@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat+Alternates:wght@200;300;400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Handlee, cursive;
  margin-top: 100px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: linear-gradient(to top right , rgb(82 , 164 , 166) , rgb(186 , 185 , 185));
}

section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 50px 50px 150px;
  width: 600px;
  min-height: 500px;
  border-radius: 20px 3px;
  background-color: rgba(255 , 255 , 255 , 0.874);
  box-shadow: 1px 1px 10px 1px rgba(0 , 0 , 0 , 0.209);
  gap: 10px;
  align-items: center;
}

.container {
  display: flex;
  gap: 10px;
}

h1 , p {
  text-align: center;
}

input {
  width: 250px;
  padding: 8px 12px;
  border: 2px solid rgb(220 , 219 , 219);
  border-radius: 8px;
}

input:focus {
  border: none;
  outline: 2px solid rgb(146 , 220 , 149);
}

ol {
  font-family: Montserrat Alternates, sans-serif;
  font-weight: 300;
}

li {
  text-transform: capitalize;
}

button {
  border: none;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-family: Handlee, cursive;
}

button:hover {
  opacity: 0.9;
  position: relative;
  top: -2px;
}

.completed {
  text-decoration: line-through solid black;
}

#remover-selecionado , #mover-cima , #mover-baixo {
  width: 35px;
  height: 35px;
}

#apaga-tudo , #remover-finalizados , #salvar-tarefas , #criar-tarefa {
  padding: 0 12px;
}

#remover-selecionado , #apaga-tudo , #remover-finalizados {
  background-color: rgb(146 , 220 , 149);
}

#criar-tarefa , #mover-cima , #mover-baixo , #salvar-tarefas {
  background-color: rgb(55 , 144 , 179);
}

.postit {
  position: absolute;
  left: -40px;
  bottom: -60px;
  width: 210px;
}

.pencil {
  position: absolute;
  left: 20px;
  bottom: -20px;
  width: 170px;
}

.pin {
  position: absolute;
  top: -40px;
  right: -33px;
  width: 130px;
}

.clips {
  position: absolute;
  right: -35px;
  bottom: -60px;
  width: 220px;
}

.clips2 {
  position: absolute;
  width: 180px;
  bottom: -20px;
  right: 120px;
  transform: rotate(170deg);
}
