@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap') ;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {

  --font-light: #fafafa;

  --font-dark: #444955;

  --bg-dark: #023031;

  --bg-card: #036b52;

  --btn-active: blue;

  --btn-disabled: gainsboro;
}

html, body {
  background-color: var(--font-light);
  color: var(--font-dark);
  font-family: Montserrat , sans-serif;
}

.App {
  display: flex;
  flex-wrap: wrap;
}

.section-form, .section-card {
  align-items: center;
  height: 100vh;
  padding: 60px;
  width: 50%;
}

.section-card {
  background-color: var(--bg-dark);
  display: flex;
  flex-direction: column;
}

.section-all-cards {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.section-all-cards h2 {
  display: flex;
  line-height: 100px;
  width: 100%;
}

.form-title, .card-title {
  margin: 15px 0 50px;
}

.card-title {
  align-self: flex-start;
  color: var(--font-light);
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

.form label {
  font-weight: 700;
  line-height: 30px;
  margin-bottom: 15px;
}

.form input, .form textarea, .form select {
  border: none;
  border-bottom: 1px solid var(--font-dark);
  font-family: Montserrat , sans-serif;
  width: 100%;
}

.form input, .form select {
  line-height: 30px;
}

.form select {
  padding: 10px 0;
}

.form .trunfo {
  margin-right: 10px;
  width: max-content;
}

.form button {
  background-color: var(--btn-active);
  border: none;
  border-radius: 3px;
  color: var(--font-light);
  font-family: Montserrat , sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 10px;
  width: 100px;
}

.form button:disabled {
  background-color: var(--btn-disabled);
}

.card {
  background-color: var(--bg-card);
  border: 7px solid var(--font-light);
  border-radius: 10px;
  color: var(--font-light);
  display: flex;
  height: 450px;
  width: 300px;
}

.card .card-box {
  background-color: var(--bg-card);
  border: 10px solid var(--bg-card);
  border-bottom-width: 13px;
  border-radius: 10px;
  border-top-width: 13px;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.card h3 {
  background-color: var(--bg-dark);
  border-radius: 6px 6px 0 0;
  color: var(--font-light);
}

.card .card-header {
  border-radius: 6px 6px 0 0;
}

.image-card {
  max-width: 266px;
}
